        body {
            background-color: #512D1A;
            font-family: 'Inter';font-size: 16px;
            width: 100%;
            padding: 5px;
        }
        .container{
            max-width: 430px;
            margin: 0 auto;
        }
        .cart {
            display: flex;
            flex-direction: row;
            justify-content:center;
            gap:20px;
            margin-top: 20px;
        }
        .cart-button {
            background-color: #FFE4A9;
            border-radius: 15px;
            border: 2px solid #AB300B;
            display: block;
            height: 45px;
        }
        .item-img {
        margin: 0px;
        height: 100px;
        align-items: center;
        padding-bottom: 5px;
       }
    /* View 1 & 3 */
        .menu {
            display: flex;
            flex-direction: rox;
            justify-content: start;
            gap:20px;
            align-items: center;
        }
        .nar-button {
            display: flex;
            justify-content: space-between;
            padding-bottom: 5px;
        }
        .button {
            text-align: center;
            color: white;
            cursor: pointer;
            background-color: transparent;
            border: none;
            text-decoration: none;
        }
        button:hover {
            text-decoration: underline;
            text-decoration-color:#E4690B;
        }
        .category {
        display: grid;
        grid-template-columns: repeat(auto-fill,1fr);
        gap: 15px;
        width: 100%;      
       }
        .box {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        margin: 0px;
        border: #E4690B solid;
       }
       .add-button {
        color: white;
        border-radius: 20px;
        background-color: #EF7F29;
        border:none;
        height: 25px;
       }
       .price {
        display: flex;
        width: 70%;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        padding-bottom: 5px;
       }
       .box-special {    
        background-color: white;
        border-radius: 15px;
        padding: 0px;
        margin: 0px;
        grid-column: span 2;    
       }
       .box-special-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);;
        justify-content: center;
        align-items: center;
        gap:5px;
       }
       .combo {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: #E4690B solid;
        border-radius: 15px;
        padding-left: 2px;
       }
       .combo-detail {
        display: grid;
        grid-template-columns:1fr 2fr;
        justify-content: center;
        justify-items: center;
        padding-left: 2px;
        padding-right: 2px;
       }
       .item-name {
        padding: 5px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        margin: 0px;
       }
       @media (max-width: 430px) {
        .category {
            grid-template-columns: repeat(2, 1fr);
        }
        }
    /* View 2 & 4 */
        .add-to-cart-button {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 70px;
            place-items:center;
            gap:3px;
        }
        .copy {
            transform: scale(1.5);
        }
        .add-to-cart-button-wrap {
            display: flex;
            justify-content: center;
        }
        .minus-add-button {
            border: none;
            background-color: transparent;
            width: 20px;
            height: auto;
        }
       